
#s{
    background:linear-gradient(60deg,purple,blue,purple);
    border-radius: 0 20px 0 20px;
    
}
.shikha{
    text-align:center;
    mix-blend-mode: multiply;
    border-radius: 0 20px 0 20px;
    background:linear-gradient(60deg,purple,blue,purple);
}
.aman{
    
                
                
                border-radius: 50%;
                border-top-right-radius: 0;
                transform: rotate(-45deg);
                float:;
                margin-top: 50px;
                margin-left: 20px;
                
}